/* General */
*{
  box-sizing:border-box;   /*me permite añadir el borde y relleno de mis cuadros sin necesicidad de que aunmente modifique el witdh=ancho o el height de mi cuadro*/
  margin: 0;
  padding: 0;
  }
body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; /*llamo a mi fuente roboto de internet*/
  text-align: center;
  background:rgba(0, 214, 186, 0.3);
}
.estilo_header{
  background-image:url("../../img/netflix.jpg");
  background-repeat:no-repeat;
  background-size: 100%;
}
.estilo_portada{
  background-image:url("../../img/netflix.jpg");
  background-repeat:no-repeat;
  background-size: 100%;
  
}
.color_netflix{
  color: rgb(218, 4, 15);
}
.color_blanco{
  color: rgb(252, 249, 250);
}
/* Estilo de mis input*/
input[type="text"], input[type="password"]{ /* Estilo de mis cuadros email y contraseña*/
  outline: none;
  padding: 20px;
  display: block;
  width: 300px;/*Tamaño de ancho de mis cuadros email y contraseña(input).*/
  border-radius: 3px;
  border: 1px solid rgb(36, 32, 32);/*Color de mi borde*/
  margin: 20px auto;
}
/* Estilo de mi boton enviar*/
input[type="submit"] {
  padding: 10px;
  color: #fff;
  background: #0098cb;
  width: 320px;/*Tamaño de ancho de mi cuadro enviar.*/
  margin: 20px auto;
  margin-top: 0;
  border: 0;
  border-radius: 3px;
  cursor: pointer; /*Me muestra el icono de la mano*/
}
/*Estilo para cambiar de color cuando ponga el cursor encima de mi boton enviar*/
input[type="submit"]:hover {
  background-color: #00b8eb;
}

/* Estilo de mi cabecera(boton de volver a la pagina principal) */
header {
  border-bottom: 2px solid #eee;
  padding: 50px 0;
  margin-bottom: 10px;/* Margen hacia abajo */
  width: 100%;
  text-align: center;
}
header a {
  text-decoration: none; /* Quito el subrayado de el enlace */
  color: #333;
}